.login-box {
  width: 320px;
  height: 85vh;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  background: #fff;
}

.header-box {
  margin-bottom: 20px;
}

.login-form {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.login-form button {
  margin-top: auto;
  width: 100%;
}

.heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.3;
}

.lorem {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #7a7a7a;
  margin-bottom: 20px;
  line-height: 1.4;
}
