.signup-box {
  width: 320px;
  min-height: 85vh; 
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  background: #fff;
}

.heading {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;
  line-height: 1.3;
}

.form-box {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex-grow: 1;
}

.submit-btn {
  margin-top: 20px;
  width: 100%;
}

label {
  font-size: 12px;
  font-weight: 600;
  color: #6c2eff;
}

.required {
  color: red;
  font-weight: 700;
}
