@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Saira:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
.main-wrapper {
  width: 320px;
  height: 85vh;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  justify-content: flex-end;
  background: #fff;
}
.btn-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.heading,
h2 {
  font-family: "Bricolage Grotesque", sans-serif;
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 4px;
}
.lorem {
  font-family: "Lato", sans-serif;
  font-size: 17px;
  color: #7a7a7a;
  margin-bottom: 20px;
  line-height: 1.4;
}
.btn-box button {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 8px;
  text-transform: none;
}
