.main-box {
  width: 320px;
  height: 85vh;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  padding: 24px 20px;
  justify-content: flex-end;
  background: #fff;
  transition: all 0.3s ease;
}
