html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: #f5f5f5;
}

.app-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
